<!doctype html>
<html>

<head>
  <title>Hello World</title>
</head>

<body>
	<ul>
		{{ if not .Session }}
			<li><a href="/login">login</a></li>
		{{ end }}
		{{ if .Session }}
			<li><a href="/upload">upload</a></li>
	</ul>
    <h1>welcome {{ .Session.Data.Username }}</h1>
    {{ end }}
    {{ range .Photos }}
        {{ .Filename }}
		<img src="/uploads/{{ .Filename }}">
    {{ end }}
</body>

</html>
